@import url('./Components/Header/index.css');

@font-face {
  font-family: MarkScript;
  src: url("..//public/fonts/MarckScript-Regular.ttf");
}
body {
  margin: 0;
  font-family:MarkScript;
  background-color: #3E3E3E;
}
