.Header{
    width: 1600px;
    height: 125px;
    background-color: rgba(90, 73, 166, 1);
    display:  flex;
    text-align: center;
    align-items: center;
}

a{
    color: rgb(255, 255, 255);
    font-size: 26px;
    text-decoration: underline, double;
    -webkit-transition: all 5s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 5s cubic-bezier(0.165, 0.84, 0.44, 1);
    
}

a:hover{
    color: rgb(217, 171, 255);
    -webkit-transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.Logo{
    border-radius: 75px;
    width: 120px;
    height: 120px;
    border: solid black 1px;
}

.NavBar{
    margin-left: 34%;
}